# 编译产物
out/
build/
*.o
*.obj
*.exe
*.out

# IDE
.vs/
*.user
*.suo
.DS_Store

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# 日志 & 测试报告
*.log
valgrind_report*.txt

# Core dump
core
*.core

# Google Test
Testing/
